.solarSystem {
  margin-bottom: 0;


  //display: grid;
  //grid-template-columns: repeat(11, 6%);
  display: flex;
  align-items: center;
  //justify-items: space-around;
}





t-planet {
  display: block;
  float: left;

  width: 1em; height: 1em;
  margin-right: 10px;

  border-radius: 50%;
}




.sun {
  margin-left: -.5em;
  font-size: 20rem;
  background-color: yellow;
}

.mercury {
  font-size: 1.5rem;
  background-color: red;
}

.venus {
  font-size: 4rem;
  background-color: pink;
}

.earth {
  font-size: 4.25rem;
  background-color: blue;
}

.moon {
  //font-size: 2rem;
  background-color: gray;
}

.mars {
  font-size: 3rem;
  background-color: red;
}



.jupiter {
  font-size: 8rem;
  background-color: bisque;
}



.saturn {
  font-size: 6rem;
  background-color: gray;
}


.uran {
  font-size: 3rem;
  background-color: red;
}


.neptun {
  font-size: 3rem;
  background-color: antiquewhite;
}


.pluto {
  font-size: 1.5rem;
  background-color: red;
}


