@import 'globals/reset';
//@import 'globals/colors';
//@import 'components/buttons';
//@import 'components/universe';
@import 'components/planets';




.clear {
  clear: both;
}



.resetList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}






body {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;

  background-color: #08090A;
}


.app {
//display: none;
  position: relative;
  z-index: 2;

  width: 1600px;
  height: 1000px;
  margin: 0 auto;


  //background: url('/src/public/images/web__BG--plain.png') 0% 0% no-repeat;
  //background: url('/src/public/images/web__planet--detail.png') 0% 0% no-repeat;
  background: url('/src/public/images/web__BG-zodiac.png') 0% 0% no-repeat;
  background: url('/src/public/images/solar-system.jpg') 0% 0% no-repeat;
  background-size: cover;

  border-radius: .5em;
}




//.......component
.list__title {
  margin-bottom: .5rem;
}


ul {
  @extend .resetList;
}


li {
  display: inline-block;

  &::first-child {
    display: block;
  }


  // add separator
  &:not(:last-child)::after {
    padding-left: .5rem;
    padding-right: .5rem;
    content: "|";
    opacity: .5;
  }
}



section {
  margin-bottom: 2rem;
}




header {
  text-align: center

  h1 {
    opacity: .5;
  }
}










.planet {
  font-size: 14px;

  img {
    display: none;
    width: 48px;
  }
}




.zodiac__symbols {

}








